name: ci/cd pipeline
on:
 push:
  branches:
    -master 
jobs:
     build-deploy:
      runs-on: ubuntu-latest
      
      steps:
      #checkout repo
      - name: checkout code
        uses: actions/checkout@v2

      #set up java
      - name: set up jdk 11
        uses: actions/setup-java@v3
        with:
          distribution: 'termurin'
          java-version: '11'
          
      #package with maven(update)
      - name: package the code
        run: mvn package

      #Deploy to tomcaat
      - name: Deploy to tomcat
        run: |
             curl -v -u ${{secrets.TOMCAT_USER}}:${{secrets.TOMCAT_PASSWORD}} \
             -T target/TrainBook-1.0.0-SNAPSHOT.war \
             "http://${{secrets.TOMCAT_HOST}}:8080/manager/text/deploy?path=/TrainBook&update=true"
               
     
